body{
    background-color:#bebbb5;
    color:rgb(170, 160, 160);
    font-family:poppinsregular;
    max-width: 1200px; /*suportar mais elementos na tela  para não se espalhar quando tiver com zoom*/
    margin:0 auto;
    padding:15px ; /* cria margens em volta*/
   
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    color: black;
    padding: 10px;
    
  
    
   
    
}

.container{
 max-width: 100%;
 
 

}


#title{
    flex-direction: column;
    line-height: 10px;
    
    
}

.cor{
    color: rgba(238, 11, 11, 0.925);
    font-size: 40px;
}

li{
    display: inline-block;
    margin: 20px;
    
}

a{
    color:rgb(10, 10, 10);
}

a:hover{
    color:#bebbb5;;
    transition: 0.3s all;
}

#conta{
    border: 2px solid rgb(28, 27, 29);
    padding: 10px;
    border-radius: 25px;
}

#conta:hover{
    color:white;
    background-color: rgb(28, 27, 29);
    transition: 0.5s ease all;
  
}

h1{
    font-weight: 200px;
}

main{
    display: flex;
    flex-direction: row;
    margin-top: 10px; /*cria marhem para cima o margin-top e empurra o elemento para baixo*/
}

h2{
    font-size: 56px;
    line-height: 10px;
    font-family: poppinsmedium;
    color: black;
}

span{
    color: rgba(238, 11, 11, 0.925);
}

p{
    line-height: 20px;
    max-width: 500px;
    font-family: poppinslight;
    color: rgb(24, 12, 12);
    font-weight: 400;
    font-size: 20px;
}

img{
    width: 620px;
}

form{
    display: flex;
    flex-direction: column;
    width: 70%;
}

form [type="submit"]{

    padding: 30px;
    background-color: rgba(238, 11, 11, 0.87);
    color:white;
    font-weight: bold;

}

form [type="submit"]:hover{

        cursor: pointer;
   
    

}

input{
    margin-top: 20px;
    height: 20px;
    padding: 15px;
    border-radius: 20px;
    border:none;
    font-size: 15px;
    outline: none;
    
}

